.navbar-dark .navbar-brand {
    color: #fff;
    font-weight: 500;
}


.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255); 
    font-weight: 500;
}


body{
  background-color: rgb(196 205 213 / 36%);
  }